include header.pug
<script src="/static/js/room.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Room</h3>
                </div>
                <div class="panel-body">
                    <div style="height:400px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="message-list">
                            <div style="margin-bottom:25px;" v-for="msg in messages">
                                <div v-if="msg.type === 'join' || msg.type === 'left'">
                                    <div class="media-left">
                                        <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading" v-text="msg.data"></h4>
                                    </div>
                                </div>
                                <div v-if="msg.type === 'chat'">
                                    <div class="media">
                                        <div class="media-left">
                                            <img class="media-object" style="width:48px; height:48px;" v-bind:src="'/static/images/' + msg.user.image + '.png'">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading" v-text="msg.user.name"></h4>
                                            <span v-text="msg.data"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form id="form-chat" action="#0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="A good day, isn't it?">
                                <span class="input-group-btn"><button class="btn btn-default" type="submit">Go</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Users</h3>
                </div>
                <div class="panel-body">
                    <div style="height:434px; overflow-x:hidden; overflow-y:scroll;">
                        <div id="user-list">
                            <div class="media" v-for="user in users">
                                <div class="media-left">
                                    <img class="media-object" style="width:20px; height:20px;" v-bind:src="'/static/images/' + user.image + '.png'">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading" v-text="user.name + ' (' + user.id + ')'"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Get more courses...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                    <p>full-stack JavaScript course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/001434446689867b27157e896e74d51a89c25cc8b43bdb3000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Python</h3>
                </div>
                <div class="panel-body">
                    <p>the latest Python course</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0014316089557264a6b348958f449949df42a6d3a2e542c000">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">git</h3>
                </div>
                <div class="panel-body">
                    <p>A course about git version control</p>
                    <p><a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
include footer.pug
